body{
    width: 100%;
    height: 18vh;
    background-color: ;
    justify-content: ;
    box-sizing: border-box;
    font-weight: lighter;
    box-shadow: 2px 2px 4px #fafafa;
    border-radius: 50%;
    
}